ASPNETCORE_ENVIRONMENT=Development

CONNECTIONSTRINGS__DEFAULTCONNECTION=Host=localhost;Port=5432;Database=geolink;Username=postgres;Password=CHANGE_ME
CONNECTIONSTRINGS__REDIS=localhost:6379

JWT__KEY=CHANGE_ME_MIN_32_CHARS
JWT__ISSUER=geolink-api
JWT__AUDIENCE=geolink-app
JWT__ACCESSTOKENEXPIRATIONMINUTES=60
JWT__REFRESHTOKENEXPIRATIONDAYS=7

YANDEXCLOUDPOSTBOX__ENABLED=false
YANDEXCLOUDPOSTBOX__ENDPOINT=https://postbox.cloud.yandex.net
YANDEXCLOUDPOSTBOX__FROMEMAIL=no-reply@your-domain.example
YANDEXCLOUDPOSTBOX__IAMTOKEN=
YANDEXCLOUDPOSTBOX__ACCESSKEYID=
YANDEXCLOUDPOSTBOX__SECRETACCESSKEY=
YANDEXCLOUDPOSTBOX__REGION=ru-central1

POSTGRES_USER=postgres
POSTGRES_PASSWORD=CHANGE_ME
POSTGRES_DB=geolink

PGADMIN_DEFAULT_EMAIL=admin@geolink.com
PGADMIN_DEFAULT_PASSWORD=CHANGE_ME  